# .NET
bin/
obj/
*.user
*.suo
*.csproj.user
.vs/
*.db
*.db-shm
*.db-wal

# Node
node_modules/
.next/
out/
dist/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# LocalStack
.localstack/
volume/
